<!DOCTYPE html>
<html lang="en">
	<meta charset="utf-8" />
	<title>WebForum - About</title>
	<head>
		<style>
			body {
				background-image: url('/images/SPQR_gray.png');
				background-repeat: repeat;
				background-size: cover;
			}
		</style>
	</head>
	<body>
		<header>
			<div style="margin-left: 30px; color: greenyellow;">
				<h2>
					<a href="/Home/Index" class="nav" style="color: greenyellow">Home</a>
					| <a href="/Posts/Index" class="nav" style="color: greenyellow">Posts</a>
					| <a href="/Home/About" class="nav" style="color: greenyellow">About</a>
					| <a href="/api/swagger" class="nav" style="color: greenyellow">Developer API</a>
				</h2>
			</div>
		</header>
		<hr></hr>
		<footer>
			<div>
				<h5 style="margin-left: 30px; color:ivory" ;> <b><i>@DateTime.Now</i></b></h5>
				<hr></hr>
			</div>
			<img src="~/images/T13Logo.png" style="margin-left:30px; width: 200px;">
		</footer>
	</body>
</html>