<div class="w3-row-padding">
    <div class="w3-col m12">
        <div class="w3-card w3-round w3-white">
            <div class="w3-container w3-padding">
                <p> Something went wrong! </p>
                <p> @ViewData["ErrorMessage"]</p>
                <!--<p> @ViewBag.ErrorMessage</p>-->
                <p> Status code: @this.Context.Response.StatusCode </p>
            </div>
        </div>
    </div>
</div>
