@model WebForum.Models.ViewModels.PostViewModel
@{
	this.ViewData["PageTitle"] = "Delete Post";
}

	<h2>Delete <b>@this.Model.Title</b>?</h2>

	<form asp-controller="Posts" asp-action="Delete" method="post">
		<input type="submit" value="Delete" class="btn-danger" />
	</form>

	<br />
	<a asp-controller="Posts" asp-action="Index" class="btn btn-outline-secondary">Back</a>
